# KiloEssentials! Main Configuration File
# Licensed Under the MIT License, Copyright (c) 2020 KiloCraft
# KiloEssentials is using HOCON for its configuration files
# learn more about it here: https://docs.spongepowered.org/stable/en/server/getting-started/configuration/hocon.html
# You can use Color Codes in string parameters, the character is "&" More info at: https://minecraft.tools/en/color-code.php
# e.g: "&eThe Yellow Thing" will be yellow

commands {
  "default:example" {
    usage: "/example"
    runs=[
      "!tellraw ${SOURCE_NAME} {\"text\":\"Hello there!\", \"color\":\"light_blue\"}"
    ]
    args=[
      {
        id: "firstArgument"
        requires {
          op: 2
        }
        runs=[

        ]
        args=[

        ]
      }

    ]

  }
}