"essentials:dragon": {
    displays=[
        "default:dragon_breath"
    ]
    on=[
        sneak {
            displays=[
                sections=[
                    {
                        count=9
                        effect="dragon_breath"
                        longDistance=true
                        offset="0.5 0 0.5"
                        pos="0 -0.35 0"
                        speed=0
                    }
                ]
                type="append"
            ]
        },
        jump {
            displays=[
                sections=[
                    {
                        count=9
                        effect="dragon_breath"
                        longDistance=true
                        offset="0.33 1.0 0.33"
                        pos="0 -0.85 0"
                        speed=0
                    }
                ]
                type="replace"
            ]
        }
        damage {
            displays=[
                sections=[
                    {
                        count=9
                        effect="dragon_breath"
                        longDistance=true
                        offset="0.33 1.0 0.33"
                        pos="0 -0.85 0"
                        speed=0
                    }
                ]
                type="append"
            ]
        }
    ]
    requires {
        op=1
        perm="myserver.custom.permission"
    }
    name="Dragon"
    description="Like a DRAGON"
}